__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.env
*.sqlite3
*.db
*.log
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.bak
*.swp
*.swo
node_modules/
coverage/
*.cover
*.pid
*.tmp
*.cache
*.mypy_cache/
*.pytest_cache/
*.ipynb_checkpoints/


.venv/
agents/searcher/.env

agents/searcher/.env
client/.env